*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
}

header a {
    color: grey;
}

.fa-solid {
    color: gray;

}

h1 {
    text-decoration: underline;
}

.container {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
}

.card {
    border: 0.3rem solid #dbdbdb;
    /* width:22rem;
    height: 12rem; */
    margin-bottom: 2rem;
    margin-left: 0;
    padding: 1rem;

}

.card:hover {
    border: 0.1rem solid #dbdbdb;
}

a {
    color: #149EF2;
}

.card_a {
    margin-top: 1rem;
}

.example .card h4 {
    color: rgb(0, 153, 255);

}

.example .card .card_content {
    margin-bottom: 2.6em;

}

.title .card .card_content {
    margin-bottom: 1.5rem;

}


.title .card h4 {
    color: #00e600;
}

.card_date {
    color: gray;
    margin-bottom: 0.5rem;

}

footer {
    border-top: 2px solid lightgray;
    text-align: center;
    padding-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #e8e8e8;
}

footer p {
    color: gray;
    margin-bottom: 0.5rem;
}

/* phone */
@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 0rem;

    }
}
